.header-first {

  padding-right: 20px;

}

.background-one {
  background-attachment: fixed;
  background-image: url("bgone.jpg");
  background-position: center
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:50px;
  min-height: 550px;
  }

.image-logo {
  height: auto;
  width: 100%;
  text-align: center;
  }

.leftpane {
  height: 100px;
  width: 100%;
  }

.title-one {
  color: #FFFFFF;
  font-size: 45px;
  font-family: verdana;
  margin-top: 10px;
  text-align: center;
  }

.subtitle-one {
  color: #FFFFFF;
  font-size: 17px;
  font-family: verdana;
  text-align:center;
  }

.price-one {
  background: #DE583A;
  color:white;
  min-height:70px;
  position: relative;
  width:100%;
  margin-right: 30px;
  }

.price-two {
  background: #464442;
  color:#FFFFFF;
  min-height:70px;
  position: relative;
  width:100%
  margin-right: 30px;
  }

.price-three {
  background: #464442;
  color: #FFFFFF;
  font-size: 17px;
  font-style: verdana;
  min-height:70px;
  position: relative;
  text-align: center;
  width:100%;
  margin-left: 30px;
  }

.round-all {
  color: #FFFFFF;
  font-size: 15px;
  font-style: verdana;
  padding: 10px;
  text-align: center;
  }

  .icons {
    padding: 60px 0px;
  }

.boost {
  padding-bottom: 50px;
}
.rate-list {
  background-color: #000000;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 18px;
  left: 20%;
  padding: 20px;
  position: absolute;
  right:20%;
  text-align: center;
  top: 70%;
  }

.prize-block {
  color: #FFFFFF;
  font-size: 14px;
  font-style: verdana;
  padding-bottom: 10px;
  text-align: center;
  }
@media screen and (max-device-width: 480px){

.prize-block{
  color: #FFFFFF;
  font-size: 30px;
  font-style: verdana;
  padding-bottom: 10px;
  text-align: center;
  }

.rate-list {
  background-color: #000000;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 35px;
  left: 20%;
  padding: 20px;
  position: absolute;
  right:20%;
  text-align: center;
  top: 70%;
  }

.feedback {
  background-image: url("tile.jpg");
  font-family: verdana;
  min-height: 1000px;
  text-align: center;
  }

.user-feedback {
  font-size: 12px;
  font-style: italic;
  text-align: left;
  }

}

.subscribe-area {
  background: #464442;
  color: #FFFFFF;
  font-family: verdana;
  font-size: 15px;
  min-height: 80px;
  padding: 20px 25px;
  text-align: center;
}

.subscribe-text {
  margin-top:8px;
}

.arrow-image {
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  }

.description {
  background-image: url("tile.jpg");
  min-height: 700px;
  padding: 0px;
  text-align: center;
}

.income-source {
  font-family: verdana;
  font-size: 18px;
  text-align: left;
}

.income-source1 {
  font-family: verdana;
  font-size: 16px;
  text-align: justify;
}

.why-to-do {
  min-height:1100px;
  text-align: center;
}

.reasons {
  text-align: left;
}

.reason-desc {
  font-size: 15px;
}

.course-features {
  background: #464442;
  color: #FFFFFF;
  min-height: 500px;
  text-align: center;
  }

.symbols {
  color: #FFFFFF;
  font-size: 40px;
}

.symbol-details {
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
}

.features {
  background-image: url("tile.jpg");
  font-family: verdana;
  min-height: 650px;
  text-align: center;
  }

.features-one {
  font-size: 20px;
  text-align: center;
}

.features-two {
  font-size: 15px;
  text-align: center;
  }

.introduction {
  background-attachment: fixed;
  background-image: url("stuff-bg.jpg");
  background-position: center
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  height: 600px;
  text-align: center;
  }

.instructor {
  min-height: 1000px;
}

.instructor-name {
  float: left;
  padding: 60px 0px;

}

.instructor-data {
  color: #999999;
  font-size: 15px;
  margin-top: 100px;
  }

.instructor-data2 {
  clear: both;
  font-size: 18px;
  font-style: verdana;
}

.numbers-data {
  background: #DE583A;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
}

.feedback {
  background-image: url("tile.jpg");
  font-family: verdana;
  min-height: 1050px;
  text-align: center;
  }

.user-feedback {
  font-size: 18px;
  font-style: italic;
  text-align: left;
  }

.user-images {
  border-radius: 50%;
}

.user-names {
  color: #999999;
  font-size: 14px;
  font-style: italic;
  text-align: left;
}

.final-page {
  background-attachment: fixed;
  background-image: url("final.jpg");
  background-position: center
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: verdana;
  height: 600px;
  }

.final-heading {
  color: #FFFFFF;
  text-align: center;
  }

.next {
  color: #EFDBD6;
  text-decoration: underline;
  }

.footer-part {
  background: #464442;
  min-height: 50px;
  }

.logo1 {
  padding: 15px 30px;
}

.logo {
  color: #FFFFFF;
  font-size: 14px;
  padding: 15px 30px;
  text-decoration: none;
}

.patent {
  color: white;
  font-size: 10px;
  }

.patent1 {
  padding-top: 25px;
}
