div.one {
	background-color: white;
	height: 50;
	margin-top: 20px;
	width: 100%;
}

div.one a {
	color: gray;
	list-style-type: none;
	text-decoration: none;
}

div.one a: hover {
	color: black;
}

div.two {
  background-color: #39ADD1;
	clear: both;
	font-family: verdana;
	height: 600px;
	text-align: center;
	width: 100%;
}

div.img.two {
	height: 350px;
	width: 25%;
}

div.two h1 {
	color: white;
	font-size: 250%;
}

div.two p {
	color: #CDEAF4;
	font-size: 120%;
}

.button {
  background-color: #39ADD1;
  border: 1px solid white;
  border-radius: 5px;
  color: #CDEAF4;
	font-size: 16px;
	padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.button1 {
  background-color: white;
  border: 1px solid #C4CAD0;
	border-radius: 5px;
	color: #C4CAD0;
	font-size: 16px;
	margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.new	{
	color: white;
	font-size: 200%;
	font-family: verdana;
}

.new2	{
	height: 300px;
	width: 40%;
}

.new3	{
	float: left;
	height: 50px;
	width: 220px;
}

.button3 {
  background-color: white;
  border:1px solid white;
  border-radius: 5px;
  color: black;
	font-size: 16px;
	padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

div.three {
	font-family: verdana;
	height: 800px;
	text-align: center;
	width: 100%;
}

div.four {
	background-color: #39ADD1;
	color: #CDEAF4;
	font-family: verdana;
	height: 600px;
	text-align: center;
	width:100%;
}

div.four table	{
	text-align: left;
}
.table4	{
	color: white;
	height: 100px;
	margin-left: 430px;
	width: 50%;
}
.table4 tr {
	height: 40px;
}

div.three p {
	font-size: 90%;
	color: #717F86;
}

div.five {
	font-family: verdana;
	height: 180px;
	text-align: center;
	width:100%;
}

.button4 {
	background-color: #3bc163;
	border:1px solid white;
  border-radius: 5px;
  color: white;
	font-size: 16px;
	padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.menu	{
	float: right;
	font-family: verdana;
	font-size: 90%;
	padding:15px 30px;
}

.leftSignin {
  background-color: #2874F0;
	height: 550px;
}

.leftHeader {
	background-color: #2874F0;
	border: 0px;
	padding: 0px;
}

.leftSignin h1 {
	color: white;
}

.leftSignin h4 {
  color: white;
}

.rightSignin {
	background-color: white ;
	height: 500px;
}

.signin {
  background-color: #FB541B;
  border-radius:1px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	color: #FFFFFF;
	font-size: 16px;
	padding: 15px 100px;
  text-align: center;
  text-decoration: none;
}

.myText{
	border: 0px;
	border-bottom:3px solid #F5F5F5;
	padding: 10px 10px 5px 2px;
	text-align: left;
	width: 240px;
}

.signup {
  background-color: #FFFFFF;
	border-bottom: 1px solid #F5F5F5;
  border-radius:1px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	color: #2874F0;
	font-size: 15px;
	padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

input:focus {
	outline: none;
	}

.closeButton {
	background-color: transparent;
	border:0;
	color: #FFFFFF;
	float:right;
	font-size: 25px;
	position: absolute;
	right: -35px;
	top: 0;
}
