<div class = "contact-us" ng-controller = "getContactInfo ">
  <form class = "user-details">
    <div class="form-heading"> Contact Us </div>
    <div class = "form-group">
      <label>Name:</label>
      <input type = "text" class = "form-control" ng-model = "userName" placeholder = "Your name here.">
    </div>
    <div class = "form-group">
      <label>Contact No.:</label>
      <input type="text" ng-model="val" numbers-only class="form-control mobile" placeholder="Enter 10 digit valid mobile number."/>
    </div>
    <p class = "error-msg"> {{errorMsg}} </p>
    <div align = "center">
      <button type = "button" class = "btn btn-default" ng-click="saveDetail()">Submit</button>
    </div>
  </form>
</div>
